<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automapoko.app">

    <!-- Permissão exigida pelo Android 12, 13, 14+ para listar e conectar a dispositivos pareados -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    
    <!-- (Se você já tiver outras permissões como INTERNET, SYSTEM_ALERT_WINDOW, deixe-as aqui também) -->

    <application
        android:name=".AutomapokoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="AutomaPoko"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        
        <!-- ... resto das activities ... -->
        
    </application>
</manifest>
